.advantages {
  background-color: @white;
}

.advantages__slogan {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: @blue;
  text-align: center;
  margin: 0;
  padding: 0;
  padding-top: 51px;
}

.advantages__image {
  margin-bottom: 44px;
}

.advantages__item {
  text-align: center;
}

.advantages__list {
  .reset-list();
  margin-top: 60px;
}

.advantages__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: @black;
  padding-bottom: 18px;
}

.advantages__description {
  font-size: 14px;
  line-height: 24px;
  color: @blue;
  margin: 0;
  margin-top: 18px;
  margin-bottom: 39px;
}
