.button {
  font-family: inherit;
  color: inherit;
  border: none;
  background: transparent;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.download__button--main {
  display: inline-block;
  vertical-align: middle;
  max-width: 280px;
  padding: 15px 36px 16px;
  border-radius: 23px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  border: 3px solid @white;
}

.download__button {
  color: @white;
  text-decoration: none;
  text-align: center;
  position: relative;
  margin: 0 auto 31px;
}

.download__button:hover {
  color: @red;
  background-color: @white;
}

.download__button:active {
  color: rgba(210, 40, 86, 0.3);
  background-color: @white;
}

.button-submit {
  display: inline-block;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: @white;
  padding: 16px 0;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: @green;
  box-sizing: border-box;
  width: 280px;
  border-radius: 3px;
  border: 0;
}

.button-submit:hover,
.popup__button-close:hover {
  background-color: @dark-green;
}

.button-submit:active,
.popup__button-close:active {
  background-color: @dark-green;
  color: rgba(255, 255, 255, 0.3);
}

.button-submit:disabled,
.popup__button-close:disabled {
  background-color: @gray-light;
}

.upload__buttons {
  display: block;
  width: 280px;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font: inherit;
  line-height: 18px;
  padding: 19px 0;
  background-color: @gray;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 700;
  outline: none;
}

.upload__buttons--active {
  border: 3px solid @red;
  color: @red;
  margin-bottom: 24px;
  border-radius: 27px;
  margin-top: 20px;

  &:hover {
    color: @white;
    background-color: @red;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: @red;
  }
}

.upload__buttons--disabled {
  color: rgba(40, 54, 69, 0.1);
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 27px;

  &:hover {
    color: rgba(40, 54, 69, 0.3);
    border: 3px solid rgba(40, 54, 69, 0.3);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: @dark-gray;
    border-color: transparent;
  }
}

.popup__button-close {
  display: inline-block;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  color: @white;
  padding: 17px 30px 16px;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: @green;
  border: 0;
  box-sizing: border-box;
  border-radius: 3px;
  outline: none;
}
