.button {
  font-family: inherit;
  color: inherit;
  border: none;
  background: transparent;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.button--main {
  display: inline-block;
  vertical-align: middle;
  width: 280px;
  padding: 18px 0;
  border-radius: 26px;
  border-width: 3px;
  border-style: solid;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  border: 3px solid @white;
}

.button--submit {
  display: inline-block;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: @white;
  padding: 16px 0;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: @green;
  box-sizing: border-box;
  width: 280px;
  border-radius: 3px;
  border: 0;
}

.button--submit:hover {
  background-color: @dark-green;
}

.button--submit:active {
  background-color: @dark-green;
  color: rgba(255, 255, 255, 0.3);
}

.button--submit:disabled {
  background-color: @gray-light;
}

.upload__buttons {
  display: block;
  width: 280px;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  font: inherit;
  line-height: 18px;
  padding: 19px 0;
  background-color: @gray;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 700;
  outline: none;
}

.button--active {
  border: 3px solid @red;
  color: @red;
  margin-bottom: 12px;
  border-radius: 27px;
  margin-top: 20px;

  &:hover {
    color: @white;
    background-color: @red;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: @red;
  }
}

.button--disabled {
  color: rgba(40, 54, 69, 0.1);
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 27px;

  &:hover {
    color: rgba(40, 54, 69, 0.3);
    border: 3px solid rgba(40, 54, 69, 0.3);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: @dark-gray;
    border-color: transparent;
  }
}
