.contacts__slogan {
  margin: 0;
  text-align: center;
  color: @blue;
  font-size: 24px;
  font-weight: light;
}

.contacts__id {
  font-size: 24px;
  font-weight: light;
  color: @pink;
  margin-bottom: 35px;
}

.contacts__item {
  display: flex;
  flex-direction: column;
  text-align: center;
}
