.contacts__wrapper-main {
  margin-top: 50px;
  position: relative;
  width: 100%;
}

.contacts__slogan {
  margin: 0;
  text-align: center;
  color: @blue;
  font-size: 24px;
  font-weight: 300;
}

.contacts__id {
  font-size: 24px;
  font-weight: 300;
  color: @red;
  margin-bottom: 35px;
}

.contacts__id--email:hover {
  color: @blue;
  text-decoration: underline;
}

.contacts__id--email:active {
  color: rgba(40, 54, 69, 0.3);
  text-decoration: none;
}

.contacts__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.contacts__wrapper-main::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 70px;
  background-color: @white;
  mask-image: url("../img/bg-triangle-white-footer.svg");
  background-repeat: no-repeat;
  z-index: 1;
}

@media (min-width: @tablet-width) {
  .contacts__slogan {
    font-size: 40px;
    line-height: 42px;
    width: 390px;
    margin: 0 auto;
  }

  .contacts__wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .contacts__info {
    width: 45%;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .contacts {
    margin-top: 30px;
  }

  .contacts__slogan {
    font-size: 50px;
    line-height: 60px;
    width: 470px;
    margin-bottom: 40px;
  }

  .contacts__wrapper {
    flex-wrap: nowrap;
  }

  .contacts__wrapper-main::after {
    height: 102px;
    background-size: 100% 102px;
  }

  .contacts__item {
    flex-basis: 250px;
    margin: 0 35px;
  }

  .contacts__item:last-child {
    order: 2;
  }

  .contacts__item:nth-child(2) {
    order: 3;
  }

  .contacts__id {
    margin-top: 22px;
  }
}
