.download {
  width: 100%;
  min-height: 270px;
  box-sizing: border-box;
  padding-top: 26px;
  background-color: @dark-blue;
}

.download::before {
  content: "";
  display: block;
  height: 396px;
  bottom: 0;
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat 40% bottom, url("../img/bg-back-mobile@1x.jpg") no-repeat center;
  background-size: auto, cover;
  background-color: @dark-blue;
}

.wrapper--closed .download {
  bottom: 195px;
}

.download__description {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
  position: relative;
}

.download__list {
  .reset-list();
  max-width: 280px;
  margin: 0 auto 25px;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.download__link--apple {
  display: block;
  background-image: url("../img/logo-apple.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 47px;
  height: 56px;
}

.download__link--android {
  display: block;
  background-image: url("../img/logo-android.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 43px;
  height: 47px;
}

.download__link--windows {
  display: block;
  background-image: url("../img/logo-microsoft.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 44px;
  height: 41px;
}

.download__title {
  display: none;
}

.download__slogan {
  background-color: @dark-blue;
  padding-top: 20px;
}

@media (min-width: @tablet-width) {
  .download__slogan {
    background-color: transparent;
    width: 300px;
    margin: 0 62% 0 auto;
    padding: 0;
  }

  .download__title {
    display: block;
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
    color: #ffffff;
    width: 200px;
    text-align: center;
    outline: none;
    margin: 0 auto 30px;
  }

  .download {
    width: 100%;
    padding: 210px 20px 60px;
    background: url("../img/iphone-hand-tablet@1x.png") no-repeat center bottom, url("../img/bg-back-tablet@1x.jpg") no-repeat top;
    background-size: 600px, cover;
    background-color: @dark-blue;
  }

  .download::before {
    display: none;
  }

  .download__button {
    margin: 0 auto 45px;
  }

  .download__link--apple {
    margin-left: 15px;
  }

  .download__link--windows {
    margin-right: 20px;
  }

  .download__button--main {
    padding: 15px 44px 16px;
  }

  .download__list {
    margin-bottom: 37px;
  }

  .download__description {
    font-size: 18px;
    width: 300px;
  }
}

@media (min-width: @desktop-width) {
  .download {
    background: url("../img/iphone-hand-desktop@1x.png") no-repeat center bottom, url("../img/bg-back-desktop@1x.jpg") no-repeat center;
    background-color: @blue;
    background-color: @dark-blue;
    padding-left: 10%;
    padding-right: 10%;
  }

  .download__slogan {
    margin: 0 64% 0 10px;
  }

  .download__title {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    font-size: 52px;
    line-height: 60px;
    width: 300px;
  }

  .download__button {
    margin: 0 auto 65px;
  }

  .download__button--main {
    padding: 15px 0 14px;
    font-size: 21px;
    line-height: 21px;
    width: 100%;
    box-sizing: border-box;
  }

  .download__list {
    margin-bottom: 58px;
  }

  .download__description {
    margin-bottom: 0;
    font-size: 18px;
  }
}
