.form-contacts {
  margin-bottom: 42px;
  background-color: @white;
}

.form-contacts__title {
  display: none;
}

.form-contacts__label {
  font-size: 14px;
  line-height: 30px;
  color: @red;
  padding: 0 30px 0 22px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.form-contacts__input {
  font-size: 18px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: @blue;
  border: 2px solid @gray-light;
  border-radius: 3px;
  box-sizing: border-box;
  width: 100%;
  padding: 14px 20px 15px;
  margin-bottom: 20px;
  margin-top: 15px;
  outline: none;
  min-height: 64px;
}

@media (min-width: @tablet-width) {
  .form-contacts {
    order: 2;
  }

  .form__block.form-contacts {
    border: 2px solid #e5e5e5;
    padding: 20px 60px;
    box-sizing: border-box;
  }

  .form-contacts__title {
    display: block;
    padding: 0 30px;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: @red;
    text-align: center;
  }

  .form-contacts__column {
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .form-contacts__column--phone::before,
  .form-contacts__column--mail::before {
    width: 60px;
    height: 60px;
    background: @gray-light;
    position: absolute;
    content: "";
    right: 2px;
    bottom: 67px;
  }

  .form-contacts__column--phone::before {
    background-image: url("../img/icon-phone.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 19px;
  }

  .form-contacts__column--mail::before {
    background-image: url("../img/icon-mail.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18px 13px;
  }

  .form-contacts__input {
    order: 1;
  }

  .form-contacts__label {
    order: 2;
  }
}

@media (min-width: @desktop-width) {
  .form-contacts__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .form__block.form-contacts {
    padding: 5px 60px;
  }

  .form-contacts__icon {
    left: 305px;
  }

  .form-contacts__column {
    width: 45%;
  }
}
