.form-achievement {
  background-color: @gray;
  margin-bottom: 40px;
}

.form-achievement__title {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @pink;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-achievement__list {
  .reset-list();
}

form-achievement__label {
  .form-font-blue();
  position: relative;
  display: block;
  cursor: pointer;
  padding-left: 70px;

  &::before {
    content: "";
    position: absolute;
    top: -7px;
    left: 0;
    width: 35px;
    height: 35px;
    background-color: @white;
    border: 2px solid @light-gray;
    background-image: url("../img/icon-yes.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

}
//Как обозначить отмеченный чекбокс?//
