.form-emotion {
  background-color: @white;
}

.form-emotion__title {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @pink;
  text-align: center;
  padding: 30px 0px 10px 0px;
}

.form-emotion__textarea {
  width: 276px;
  color: @blue;
  padding: 20px;
  border: 2px solid @gray-light;
  margin-bottom: 48px;
  font-size: 14px;
  line-height: 30px;
  font: inherit;
}

.form-emotion__required {
  font-size: 18px;
  line-height: 30px;
  color: @blue;
  text-align: center;
  margin-top: 40px;
  padding-left: 46px;
  width: 100%;
  box-sizing: border-box;
  text-transform: uppercase;
}

.form-emotion__symbol{
  color: @pink;
}
