.form-feedback__label {
  .form-font-pink();
  padding-left: 23px;
  pading-bottom: 7px;
}

.form-feedback__input {
  .form-font-blue();
  border: 2px solid @light-gray;
  border-radius: 3px;
  box-sizing: border-box;
  width: 276px;
  padding: 22px;
  margin-bottom: 20px;
}

form-feedback__input:last-child {
  margin-bottom: 42px;
}
