.form-feedback__label {
  font-size: 14px;
  line-height: 30px;
  color: @pink;
  padding-left: 23px;
  text-transform: uppercase;
}

.form-feedback__input {
  font-size: 18px;
  line-height: 30px;
  color: @blue;
  border: 2px solid @gray-light;
  border-radius: 3px;
  box-sizing: border-box;
  width: 276px;
  padding: 16px 7px 16px 20px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.form-feedback__input:last-child {
  margin-bottom: 42px;
}
