.form-app {
  background-color: @gray;
  margin-bottom: 40px;
}

.form-app__title {
  padding: 35px 14px;
  .mixin-font(14px; 30px; 400);
  text-transform: uppercase;
  color: @pink;
  text-align: center;
}

.form-app__list {
  .reset-list ();
}

form-app__label {
  .mixin-font(18px; 30px; 400);
  .color: @blue;
  display: block;
  padding-left: 70px;
  margin-bottom: 55px;
}
