.gallery {
  background-color: @white;
}

.galery__intro {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 250px;
}

.gallery__panoram-card {
  margin-bottom: 20px;
}

.gallery__img--panoram img {
  width: 100%;
}

.gallery__image {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.gallery__description {
  background-color: #f2f2f2;
  padding: 20px;
  box-sizing: border-box;
  flex-grow: 1;
}

.gallery__name {
  font-weight: 700;
}

.gallery__time {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
}

.gallery__note {
  padding-bottom: 10px;
  margin: 0;
}

.gallery__like {
  color: @pink;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
}

@media (min-width: @tablet-width) {
  .galery__intro {
    font-size: 18px;
    width: 500px;
  }

  .gallery__img--panoram img {
    max-height: 600px;
  }

  .gallery__wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
  }

  .gallery__image {
    flex-basis: 300px;
  }

  .gallery__image img {
    width: 300px;
    height: 300px;
  }

  .gallery__description--intro {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
  }

  .gallery__note--intro {
    order: 4;
  }
}

@media (min-width: @desktop-width) {
  .gallery__image {
    margin-bottom: 54px;
  }

  .gallery__wrapper {
    margin-left: auto;
  }
}
