.galery__intro {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  margin-bottom: 50px;
}

.gallery-post {
  background-color: @gray;
  margin: 0;
  margin-bottom: 20px;
}

.gallery__img--panoram {
  width: 100%;
}

.gallery__description {
  background-color: @gray;
}

.gallery__name {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700p;
}

.gallery__time {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 24px;
  font-weight: 300;
}

.gallery__note {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.gallery__like {
  color: @pink;
  text-transform: uppercase;
  padding-bottom: 22px;
}
