.main-nav {
  background-color: @blue;
  .reset-list();
}

.main-nav__item {
  text-align: center;
  border-top: 1px solid @color-nav-light;
  border-bottom: 1px solid @color-nav-dark;
}

.main-nav__link {
  .mixin-font(18px; 32px; 700);
  color: @white;
  text-transform: uppercase;
  padding: 18px 0;
}
