.main-nav {
  display: none;
}

.main-nav__item {
  text-align: center;
  border-top: 1px solid @color-nav-light;
  border-bottom: 1px solid @color-nav-dark;
  box-sizing: border-box;
}

.main-nav__link {
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: @white;
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav__list {
  .reset-list();
  width: 660px;
}

@media (min-width: @desktop-width) {
  .main-nav {
    margin-left: auto;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
  }

  .main-nav__list {
    display: flex;
  }

  .main-nav__item {
    border: none;
  }

  .main-nav__link {
    font-weight: 300;
    line-height: 18px;
    text-transform: capitalize;
    padding: 0 35px;
  }
}
