.social__list {
  .reset-list();
}

.page-footer__logo {
  margin-bottom: 40px;
}

.social__item {
  width: 51px;
  height: 51px;
  border-radius: 50%:
  border: 3px solid @gray-dark;
  margin-right: 12px;
}

social__link {
  border: 3px solid @gray-light;
  padding: 15px;
}

.page-footer__copyright {
  .mixin-font(14px; 30px; 400);
  color: @blue;
  text-align: center;
  padding-right: 14px;
}

.copyright__link {
  margin-bottom: 40px;
}
