.page-header-main {
  background-color: @blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  position: relative;
  background-size: contain;
}

.page-main::before {
  content: "";
  display: block;
  position: relative;
  width: 320px;
  height: 396px;
  bottom: 0;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  margin: 0 auto;
}

.page-header__logo-link {
  min-height: 65px;
}

.page-header__wrapper.wrapper--closed {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 100%;
  z-index: 2;
}

.page-header__logo {
  fill: @white;
  position: absolute;
  left: 20px;
  top: 20px;
  display: block;

  &:hover {
    fill: @red;
  }

  &:active {
    fill: @white;
    opacity: 0.3;
  }

  &--tablet,
  &--desktop {
    display: none;
  }
}

.form--header {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center top;
  background-size: cover;
  min-height: 238px;
}

.page-header__wrapper.wrapper--opened {
  background-color: @blue;
}

@media (min-width: @tablet-width) {
  .page-header-main {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-size: auto;
    min-height: 720px;
  }

  .page-main::before {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 545px;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    z-index: 1;
  }

  .page-header__logo-link {
    min-height: 110px;
  }

  .page-header__logo {
    width: 148px;
    height: 45px;
    position: absolute;
    display: block;
    left: 20px;
    top: 25px;

    &--tablet {
      display: block;
    }

    &:hover {
      fill: @red;
    }

    &:active {
      fill: @white;
      opacity: 0.3;
  }

    &--mobile,
    &--desktop {
      display: none;
    }
  }

  .form--header {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: center top;
    background-size: cover;
    min-height: 430px;
  }
}

@media (min-width: @desktop-width) {
  .page-header-main {
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }

  .page-main::before {
    width: 100%;
    height: 645px;
    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-position: 76px bottom;
  }

  .page-header__wrapper.wrapper--opened {
    background: rgba(0, 0, 0, 0.3);
  }

  .page-header__top {
    width: 960px;
    margin: 0 auto;
    display: flex;
    padding-top: 45px;
    padding-bottom: 41px;
    position: relative;
  }

  .page-header__logo-link {
    min-height: auto;
  }

  .page-header__logo--desktop {
    display: block;
    position: absolute;
  }

  .page-header__logo--mobile,
  .page-header__logo--tablet {
    display: none;
  }

  .page-header__toggle {
    display: none;
  }

  .form--header {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: top;
    background-size: auto;
    min-height: 395px;
  }
}
