.page-form__title {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center -60px;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  color: @white;
  padding-bottom: 59px;
  padding-top: 40px;
  margin: 0;
}
