.page-form {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.page-form__title {
  font-size: 24px;
  font-weight: lighter;
  color: @white;
  padding-bottom^ 59px;
  padding-top: 40px;
}