.social__list {
  .reset-list();
}

.page-footer__logo {
  margin-bottom: 40px;
}

.social__item {
  width: 51px;
  height: 51px;
  border-radius: 50%:
  border: 3px solid @gray-dark;
}

.page-footer__copyright {
   font-sixe: 14px;
  line-height: 30px;
  font-weight: 400px;
  color: @blue;
  text-align: center;
  padding-right: 14px;
}

.copyright__link {
  margin-bottom: 40px;
}
