.subscription {
  background-color: @gray;
  margin-bottom: 50px;
}

.subscription__table {
  width: 280px;
  height: 280px;
  background-color: @white;
  border: 2px solid @gray;
  text-transform: uppercase;
}

.row--blue {
  background-color: @blue;
  border: none;
  text-align: center;
}

.subscription__name {
  .mixin-font(18px; 30px; 700);
  color: @white;
  padding-top: 19px;
}

.subscription__cost {
  .mixin-font(24px; 30px; 400);
  color: @white;
  padding-borrom: 23px;

.subscription__item {
  border: 2px solid @gray-light;
}

.subscription__description {
  color: @blue;
  padding-left: 22px;
  .mixin-font(14px; 30px; 400);
}
