.upload__wrapper {
  padding: 22px 14px 42px 10px;
  text-align: center;
}

.upload__slogan {
  font-size: 18px;
  line-height: 30px;
  margin: 0;
}

.upload__img {
  background-color: @gray;
  text-align: center;
}

.upload__photo {
  padding-top: 20px;
  padding-bottom: 40px;
}

.upload__range-controls {
  padding-top: 40px;
  padding-bottom: 34px;
  border-bottom: 1px solid @gray-dark;
}

.upload__buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: stretch;
  font: inherit;
  line-height: 18px;
  padding: 19px 0;
  background-color: @gray;
  box-sizing: border-box;
  font-size: 18px;
}
