.reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.reset-form {
  padding: 0;
  border: none;
}
.container {
  margin: 0 auto;
  width: 280px;
}
@media (min-width: 660px) {
  .container {
    width: 620px;
    padding: 0 20px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 960px;
    padding: 0 10px;
  }
}
@font-face {
  font-family: "Opensans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2");
}
@font-face {
  font-family: "Opensans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/opensansbold.woff") format("woff"), url("../fonts/opensansbold.woff2") format("woff2");
}
@font-face {
  font-family: "Opensans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/opensanslight.woff") format("woff"), url("../fonts/opensanslight.woff2") format("woff2");
}
body {
  margin: 0 auto;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.main-wrapper {
  width: 280px;
  margin: 0 auto;
}
.advantages {
  background-color: #ffffff;
}
.advantages__slogan {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #283645;
  text-align: center;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}
.advantages__slogan:last-child {
  margin-bottom: 0;
}
.advantages__wrap-slogan {
  padding-bottom: 60px;
  padding-top: 39px;
  position: relative;
  width: 100%;
}
.advantages__image {
  margin-bottom: 44px;
}
.advantages__item {
  text-align: center;
}
.advantages__wrap-list {
  background-color: #f2f2f2;
}
.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 287px;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 50% 110%;
}
.advantages__title {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}
.advantages__description {
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  margin: 0;
  margin-top: 14px;
  margin-bottom: 27px;
}
.advantages__wrap-slogan::after,
.reviews-wrapper::after {
  content: "";
  bottom: 0;
  border-right: 100vw solid #f2f2f2;
  border-top: 8vw solid transparent;
  position: absolute;
}
@media (min-width: 660px) {
  .advantages__wrap-slogan {
    padding: 0 0 100px;
    margin-top: 50px;
  }
  .advantages__slogan {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 0;
  }
  .advantages__list {
    background-image: none;
    padding: 0;
    position: relative;
    padding-bottom: 10px;
    padding-top: 20px;
  }
  .advantages__description {
    margin-top: 14px;
    margin-bottom: 30px;
  }
  .advantages__item {
    padding-left: 50%;
    width: 310px;
    text-align: left;
  }
  .download__description {
    margin-top: 10px;
    margin-bottom: 35px;
  }
  .advantages__list::before {
    width: 268px;
    height: 481px;
    background: url("../img/iphone-screen-3-tablet@1x.png");
    content: "";
    position: absolute;
    bottom: 0;
  }
}
@media (min-width: 1200px) {
  .advantages__wrap-slogan {
    padding: 68px 13px 53px;
    margin-top: 0;
  }
  .advantages__slogan {
    font-size: 50px;
    line-height: 60px;
  }
  .advantages__slogan:first-child {
    margin: 0 auto;
  }
  .advantages__item--img-sad {
    background-image: url("../img/iphone-screen-1-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: top center;
  }
  .advantages__item--img--normal {
    background-image: url("../img/iphone-screen-2-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: top center;
  }
  .advantages__item--img--happy {
    background-image: url("../img/iphone-screen-3-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: top center;
  }
  .advantages__list {
    padding-bottom: 35px;
  }
  .advantages__item {
    padding: 358px 0 0;
    width: 240px;
    display: inline-block;
    vertical-align: top;
    margin-right: 45px;
    margin-left: 34px;
  }
  .advantages__item:first-child {
    margin-left: 50px;
  }
  .advantages__item:last-child {
    margin-right: 0;
    margin-left: 35px;
  }
  .advantages__title {
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    display: block;
  }
  .advantages__description {
    margin-top: 25px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
  .advantages__list::before {
    background-image: none;
  }
}
.button {
  font-family: inherit;
  color: inherit;
  border: none;
  background: transparent;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}
.download__button--main {
  display: inline-block;
  vertical-align: middle;
  max-width: 280px;
  padding: 15px 36px 16px;
  border-radius: 23px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  border: 3px solid #ffffff;
}
.download__button {
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  position: relative;
  margin: 0 auto 31px;
}
.download__button:hover {
  color: #d22856;
  background-color: #ffffff;
}
.download__button:active {
  color: rgba(210, 40, 86, 0.3);
  background-color: #ffffff;
}
.button-submit {
  display: inline-block;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  padding: 16px 0;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #2aab6d;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 280px;
  border-radius: 3px;
  border: 0;
}
.button-submit:hover,
.popup__button-close:hover {
  background-color: #1c9b5e;
}
.button-submit:active,
.popup__button-close:active {
  background-color: #1c9b5e;
  color: rgba(255, 255, 255, 0.3);
}
.button-submit:disabled,
.popup__button-close:disabled {
  background-color: #e5e5e5;
}
.upload__buttons {
  display: block;
  width: 280px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: inherit;
  line-height: 18px;
  padding: 19px 0;
  background-color: #f2f2f2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 18px;
  font-weight: 700;
  outline: none;
}
.upload__buttons--active {
  border: 3px solid #d22856;
  color: #d22856;
  margin-bottom: 24px;
  border-radius: 27px;
  margin-top: 20px;
}
.upload__buttons--active:hover {
  color: #ffffff;
  background-color: #d22856;
}
.upload__buttons--active:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d22856;
}
.upload__buttons--disabled {
  color: rgba(40, 54, 69, 0.1);
  border: 3px solid rgba(40, 54, 69, 0.1);
  border-radius: 27px;
}
.upload__buttons--disabled:hover {
  color: rgba(40, 54, 69, 0.3);
  border: 3px solid rgba(40, 54, 69, 0.3);
}
.upload__buttons--disabled:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #b5b9be;
  border-color: transparent;
}
.popup__button-close {
  display: inline-block;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  padding: 17px 30px 16px;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #2aab6d;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  outline: none;
}
.contacts__main {
  margin-top: 40px;
  position: relative;
  width: 100%;
}
.contacts__slogan {
  margin: 0;
  text-align: center;
  color: #283645;
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  margin-bottom: 35px;
}
.contacts__id {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #d22856;
  margin-bottom: 23px;
}
.contacts__id--email:hover {
  color: #283645;
  text-decoration: underline;
}
.contacts__id--email:active {
  color: rgba(40, 54, 69, 0.3);
  text-decoration: none;
}
.contacts__id--adress {
  margin-bottom: 35px;
}
.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}
@media (min-width: 660px) {
  .contacts__main {
    margin-top: 48px;
  }
  .contacts__slogan {
    font-size: 40px;
    line-height: 48px;
    width: 390px;
    margin: 0 auto 41px;
  }
  .contacts__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contacts__info {
    width: 45%;
    margin: 0 auto 25px;
  }
  .contacts__info:last-child {
    margin-bottom: 0;
  }
  .contacts__id {
    margin-top: 5px;
  }
  .contacts__id--phone {
    margin-right: 11px;
  }
}
@media (min-width: 1200px) {
  .contacts__main {
    margin-top: 68px;
    margin-left: 9px;
  }
  .contacts__slogan {
    font-size: 50px;
    line-height: 60px;
    width: 470px;
    margin-bottom: 55px;
  }
  .contacts__wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .contacts__item {
    -ms-flex-preferred-size: 250px;
        flex-basis: 250px;
    margin: 0 35px;
  }
  .contacts__info:last-child {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .contacts__info:nth-child(2) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .contacts__id {
    margin-top: 22px;
  }
}
.download {
  width: 100%;
  min-height: 270px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 26px;
  background-color: #1d2631;
}
.download::before {
  content: "";
  display: block;
  height: 396px;
  bottom: 0;
  background: url("../img/iphone-hand-mobile@1x.png") no-repeat 40% bottom, url("../img/bg-back-mobile@1x.jpg") no-repeat center;
  background-size: auto, cover;
  background-color: #1d2631;
}
.wrapper--closed .download {
  bottom: 195px;
}
.download__description {
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  margin: 0;
  padding: 0;
  padding-bottom: 32px;
  position: relative;
}
.download__list {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 280px;
  margin: 0 auto 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.download__link--apple {
  display: block;
  background-image: url("../img/logo-apple.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 47px;
  height: 56px;
}
.download__link--android {
  display: block;
  background-image: url("../img/logo-android.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 43px;
  height: 47px;
}
.download__link--windows {
  display: block;
  background-image: url("../img/logo-microsoft.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 44px;
  height: 41px;
}
.download__title {
  display: none;
}
.download__slogan {
  background-color: #1d2631;
  padding-top: 20px;
}
@media (min-width: 660px) {
  .download__slogan {
    background-color: transparent;
    width: 300px;
    margin: 0 62% 0 auto;
    padding: 0;
  }
  .download__title {
    display: block;
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
    color: #ffffff;
    width: 200px;
    text-align: center;
    outline: none;
    margin: 0 auto 30px;
  }
  .download {
    width: 100%;
    padding: 210px 20px 60px;
    background: url("../img/iphone-hand-tablet@1x.png") no-repeat center bottom, url("../img/bg-back-tablet@1x.jpg") no-repeat top;
    background-size: 600px, cover;
    background-color: #1d2631;
  }
  .download::before {
    display: none;
  }
  .download__button {
    margin: 0 auto 45px;
  }
  .download__link--apple {
    margin-left: 15px;
  }
  .download__link--windows {
    margin-right: 20px;
  }
  .download__button--main {
    padding: 15px 44px 16px;
  }
  .download__list {
    margin-bottom: 37px;
  }
  .download__description {
    font-size: 18px;
    width: 300px;
  }
}
@media (min-width: 1200px) {
  .download {
    background: url("../img/iphone-hand-desktop@1x.png") no-repeat center bottom, url("../img/bg-back-desktop@1x.jpg") no-repeat center;
    background-color: #283645;
    background-color: #1d2631;
    padding-left: 10%;
    padding-right: 10%;
  }
  .download__slogan {
    margin: 0 64% 0 10px;
  }
  .download__title {
    display: block;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
    font-size: 52px;
    line-height: 60px;
    width: 300px;
  }
  .download__button {
    margin: 0 auto 65px;
  }
  .download__button--main {
    padding: 15px 0 14px;
    font-size: 21px;
    line-height: 21px;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .download__list {
    margin-bottom: 58px;
  }
  .download__description {
    margin-bottom: 0;
    font-size: 18px;
  }
}
.form-achievement.wrapper {
  background-color: #f2f2f2;
  margin-bottom: 30px;
}
.form-achievement {
  margin-bottom: 40px;
  margin-top: 20px;
}
.form-achievement__title {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #d22856;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.form-achievement__label {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 70px;
  margin-bottom: 56px;
}
.form-achievement__label::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}
.form-achievement__checkbox:checked + label::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 17px;
  left: 7px;
  bottom: 12px;
  border-left: 3px solid #d22856;
  border-bottom: 3px solid #d22856;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.form-achievement__item:last-child {
  padding-bottom: 5px;
}
@media (min-width: 660px) {
  .form-achievement {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .form__block.form-achievement {
    border: 2px solid #e5e5e5;
    padding: 30px 60px 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .form-achievement.wrapper {
    margin-bottom: 10px;
    background-color: #ffffff;
  }
  .form-achievement__title {
    padding: 0;
    min-width: 430px;
  }
  .form-achievement__label {
    margin-bottom: 50px;
  }
}
@media (min-width: 1200px) {
  .form-achievement__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .form__block.form-achievement {
    padding: 45px 60px 0;
    width: 940px;
  }
}
.form-app.wrapper {
  background-color: #f2f2f2;
  margin-top: 20px;
}
.form__block.form-app {
  width: 280px;
  margin: 0 auto;
}
.form-app__title {
  padding: 32px 14px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #d22856;
  text-align: center;
}
.form-app__list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
.form-app__label {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  display: block;
  margin-bottom: 55px;
  position: relative;
}
.form-app__label::before {
  content: "";
  position: absolute;
  left: 5px;
  top: -3px;
  width: 30px;
  height: 30px;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}
.form-app__radio:checked + label::after {
  content: "";
  position: absolute;
  top: 6px;
  left: 14px;
  width: 15px;
  height: 15px;
  background-color: #d22856;
  border-radius: 50%;
}
.form-app__item:last-child {
  padding-bottom: 1px;
}
@media (min-width: 660px) {
  .form-app {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .form-app.wrapper {
    margin-top: 10px;
    background-color: #ffffff;
  }
  .form__block.form-app {
    border: 2px solid #e5e5e5;
    padding: 33px 60px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 60px;
    width: 620px;
  }
  .form-app__title {
    padding: 0 14px;
  }
  .form-app__label {
    margin-bottom: 35px;
  }
}
@media (min-width: 1200px) {
  .form-app.wrapper {
    width: 45%;
    margin-top: -5px;
    margin-left: auto;
  }
  .form__block.form-app {
    padding: 41px 20px 55px;
    margin: 0;
    width: auto;
  }
  .form-app__list {
    padding-left: 60px;
  }
  .form-app__title {
    min-width: 345px;
  }
}
.form-contacts {
  margin-bottom: 42px;
  background-color: #ffffff;
}
.form-contacts__title {
  display: none;
}
.form-contacts__label {
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  padding: 0 30px 0 22px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.form-contacts__input {
  font-size: 18px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #283645;
  border: 2px solid #e5e5e5;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 14px 20px 15px;
  margin-bottom: 20px;
  margin-top: 15px;
  outline: none;
  min-height: 64px;
}
@media (min-width: 660px) {
  .form-contacts {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .form__block.form-contacts {
    border: 2px solid #e5e5e5;
    padding: 20px 60px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .form-contacts__title {
    display: block;
    padding: 0 30px;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #d22856;
    text-align: center;
  }
  .form-contacts__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
  }
  .form-contacts__column--phone::before,
  .form-contacts__column--mail::before {
    width: 60px;
    height: 60px;
    background: #e5e5e5;
    position: absolute;
    content: "";
    right: 2px;
    bottom: 67px;
  }
  .form-contacts__column--phone::before {
    background-image: url("../img/icon-phone.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 19px;
  }
  .form-contacts__column--mail::before {
    background-image: url("../img/icon-mail.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 18px 13px;
  }
  .form-contacts__input {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .form-contacts__label {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media (min-width: 1200px) {
  .form-contacts__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .form__block.form-contacts {
    padding: 5px 60px;
  }
  .form-contacts__icon {
    left: 305px;
  }
  .form-contacts__column {
    width: 45%;
  }
}
.form-emotion {
  background-color: #ffffff;
}
.form-emotion__title {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #d22856;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 10px;
}
.form-emotion__textarea {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #283645;
  padding: 20px;
  border: 2px solid #e5e5e5;
  margin-bottom: 48px;
  font: inherit;
  font-size: 18px;
  line-height: 30px;
}
.form-emotion__required {
  font-size: 18px;
  line-height: 30px;
  color: #283645;
  text-align: center;
  margin-top: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-transform: uppercase;
}
.form-emotion__symbol {
  color: #f25b26;
}
.form-emotion__required.desktop {
  display: none;
}
.form-emotion--button.container {
  display: block;
}
@media (min-width: 660px) {
  .form__block.form-emotion {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    border: 2px solid #e5e5e5;
    padding: 40px 58px 0 58px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 60px;
  }
  .form-emotion--button.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    border: none;
    padding: 0;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .form-emotion__required {
    margin-left: auto;
    margin-top: 20px;
  }
  .form-emotion__title {
    padding: 0;
    padding-top: 10px;
    min-width: 260px;
  }
}
@media (min-width: 1200px) {
  .form-emotion__required {
    display: none;
  }
  .form-emotion__required.desktop {
    display: block;
  }
}
.form-feedback {
  width: 280px;
  margin: 0 auto;
}
.form-feedback__label {
  font-size: 14px;
  line-height: 30px;
  color: #d22856;
  padding-left: 23px;
  text-transform: uppercase;
}
.form-feedback__input {
  font-size: 18px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #283645;
  border: 2px solid #e5e5e5;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 14px 20px 15px;
  margin-top: 5px;
  margin-bottom: 20px;
  width: 100%;
  outline: none;
  minheight: 64px;
}
@media (min-width: 660px) {
  .form-feedback__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 50px;
  }
  .form-feedback {
    width: 620px;
  }
  .form-feedback__label {
    padding-left: 0;
    padding-right: 20px;
  }
  .form-feedback__input {
    margin-bottom: 0;
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .form-feedback {
    width: 45%;
    margin: 0;
  }
}
.form-feedback,
.form-achievement,
.form-contacts,
.form-app,
.form-emotion {
  padding: 0;
  border: none;
}
.form__wrapper {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  text-align: center;
  margin-bottom: 49px;
  margin-top: 50px;
}
.form__adittion {
  display: none;
}
.form-feedback__input:hover,
.form-app__label:hover::before,
.form-contacts__input:hover,
.form-achievement__label:hover::before {
  border: 2px solid #000000;
}
.form-feedback__input:active,
.form-app__label:active::before,
.form-contacts__input:active,
.form-achievement__label:active::before {
  border: 2px solid #d22856;
}
@media (min-width: 660px) {
  .form__wrapper {
    font-size: 18px;
    width: 500px;
    margin: 0 auto;
    padding-bottom: 60px;
    padding-top: 70px;
  }
  .form__body {
    width: 620px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .form__suggestion {
    margin: 0;
  }
  .form__adittion {
    display: inline;
  }
}
@media (min-width: 1200px) {
  .form__wrapper {
    width: 770px;
  }
  .form__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 960px;
    padding: 0 10px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}
.gallery {
  background-color: #ffffff;
}
.galery__intro {
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  margin: 50px auto;
  width: 250px;
  outline: none;
}
.gallery__panoram-card {
  margin-bottom: 20px;
}
.gallery__img-panoram {
  position: relative;
  overflow: hidden;
}
.gallery__img-panoram img {
  width: 320px;
  height: 137px;
  margin: 0 auto;
  display: block;
  background-color: transparent;
}
.gallery__mark {
  position: absolute;
  top: 0;
  left: 50%;
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  background-color: #d22856;
  text-transform: uppercase;
  text-align: center;
  padding: 6px 20px;
  border: 0;
}
.gallery__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
}
.gallery__picture img {
  display: block;
}
.gallery__description {
  background-color: #f2f2f2;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.gallery__name {
  font-weight: 700;
}
.gallery__time {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 300;
}
.gallery__note {
  padding-bottom: 10px;
  margin: 0;
}
.gallery__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.gallery__like {
  color: #d22856;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  margin-left: 10px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}
.gallery__like-icon {
  width: 13px;
  height: 12px;
  background-color: transparent;
  border: 0;
  background-image: url("../img/icon-heart.svg");
  outline: 0;
  cursor: pointer;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
@media (min-width: 660px) {
  .galery__intro {
    font-size: 18px;
    width: 500px;
  }
  .gallery__img-panoram img {
    width: 660px;
    height: 509px;
  }
  .gallery__mark {
    top: 57px;
    -webkit-transform: translateX(150px);
            transform: translateX(150px);
  }
  .gallery__text {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  .gallery__wrapper--intro {
    margin-left: auto;
  }
  .gallery__like {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 0;
    margin-right: auto;
  }
  .gallery__like--intro {
    margin-right: 10px;
  }
  .gallery__like-icon {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .gallery__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
  }
  .gallery__image {
    -ms-flex-preferred-size: 300px;
        flex-basis: 300px;
  }
  .gallery__image img {
    width: 300px;
    height: 300px;
  }
  .gallery__description--intro {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .gallery__note--intro {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .gallery__description--post {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 1200px) {
  .gallery__image {
    margin-bottom: 54px;
  }
  .gallery__image img {
    height: 400px;
  }
  .gallery__img-panoram img {
    width: 1200px;
    height: 509px;
  }
  .gallery__mark {
    -webkit-transform: translateX(310px);
            transform: translateX(310px);
  }
}
.main-nav--closed .main-nav__list {
  display: none;
}
.main-nav__toggle {
  display: block;
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 2;
  width: 50px;
  height: 24px;
  border: none;
  background: 0;
  cursor: pointer;
  outline: none;
}
.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 18px;
  right: 0;
  width: 50px;
  height: 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
          box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
}
.main-nav--closed .main-nav__toggle:hover::before {
  background-color: #d22856;
  -webkit-box-shadow: 0 9px 0 0 #d22856, 0 18px 0 0 #d22856;
          box-shadow: 0 9px 0 0 #d22856, 0 18px 0 0 #d22856;
}
.main-nav--closed .main-nav__toggle:active::before {
  opacity: 0.3;
}
.main-nav--opened .main-nav__toggle {
  left: auto;
  right: 15px;
}
.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 24px;
  left: 18px;
  width: 30px;
  height: 5px;
  border-radius: 2px;
  background-color: #ffffff;
}
.main-nav--opened .main-nav__toggle::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: none;
          box-shadow: none;
}
.main-nav--opened .main-nav__toggle::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.main-nav--opened .main-nav__toggle:hover::before,
.main-nav--opened .main-nav__toggle:hover::after {
  background-color: #d22856;
}
.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  opacity: 0.3;
}
.main-nav__link {
  display: block;
  padding: 15px 0;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  color: #ffffff;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000101;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}
.main-nav__link:hover {
  color: #d22856;
}
.main-nav__link:active {
  opacity: 0.3;
}
.main-nav__item--active .main-nav__link:hover {
  color: #ffffff;
}
.main-nav__item--active .main-nav__link:active {
  color: #ffffff;
  opacity: 1;
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.wrapper--opened .main-nav__list {
  font-weight: bold;
}
.page-header--nojs .main-nav__toggle {
  display: none;
}
@media (min-width: 660px) {
  .main-nav__toggle {
    top: 20px;
    right: 40px;
  }
}
@media (min-width: 1200px) {
  .main-nav {
    margin-left: auto;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-nav__toggle {
    display: none;
  }
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-nav__item {
    border: none;
    padding: 0 40px;
  }
  .main-nav__item--active {
    position: relative;
  }
  .main-nav--closed .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main-nav__link {
    font-weight: 300;
    line-height: 18px;
    text-transform: capitalize;
    padding: 0;
    border: none;
  }
  .main-nav__item--active::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: -12px;
    left: 0;
    height: 2px;
    background: #ffffff;
  }
}
.map__frame {
  border: none;
  width: 100%;
  height: 200px;
  position: relative;
  overflow: hidden;
}
.map::before {
  display: block;
  content: "";
  position: absolute;
  z-index: 1;
  border-right: 50vw solid transparent;
  border-top: 35px solid #ffffff;
  border-left: 50vw solid transparent;
}
@media (min-width: 660px) {
  .map__frame {
    height: 375px;
  }
  .map::before {
    border-top-width: 65px;
  }
}
@media (min-width: 1200px) {
  .map__frame {
    height: 485px;
  }
  .map::before {
    border-top-width: 85px;
  }
}
.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
}
.social__item {
  width: 51px;
  height: 51px;
  border-radius: 50%;
  border: 3px solid #dddfe0;
  margin: 0 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.social__item:hover {
  border: 3px solid #000000;
}
.social__item:active {
  opacity: 0.1;
}
.social__link {
  padding: 13px;
  display: block;
}
.social__link:active {
  opacity: 0.3;
}
.social__icon {
  fill: #d22856;
}
.page-footer {
  display: none;
}
.footer__logo-icon {
  display: none;
  margin-top: 0;
  margin-bottom: 41px;
  margin-left: auto;
  margin-right: auto;
}
.footer__logo-icon:hover,
.footer__logo-icon:focus {
  fill: #d22856;
}
.footer__logo-icon:active {
  opacity: 0.3;
}
.footer__logo-icon--mobile {
  display: block;
}
.form .page-footer__logo--mobile {
  display: block;
  margin-bottom: 35px;
}
.form .page-footer__logo--desktop {
  display: none;
}
.page-footer.form,
.page-footer.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 42px 40px 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.page-footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}
.copyright__link {
  margin-left: 17px;
  fill: #d22856;
}
.copyright__link:hover {
  fill: #000000;
}
.copyright__link:active {
  fill: #b5b9be;
  opacity: 0.3;
}
@media (min-width: 660px) {
  .page-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 20px;
  }
  .page-footer.form,
  .page-footer.gallery {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 35px 20px;
  }
  .page-footer__logo {
    margin-bottom: 0;
  }
  .page-footer__logo--mobile {
    display: block;
  }
  .page-footer__logo--desktop {
    display: none;
  }
  .social__list {
    margin-bottom: 0;
    margin-right: 20px;
  }
  .page-footer__copyright {
    font-size: 14px;
    line-height: 18px;
    color: #283645;
    text-align: center;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 28px;
  }
}
@media (min-width: 1200px) {
  .page-footer {
    padding: 70px 0 68px 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .footer__logo-icon--mobile {
    display: none;
  }
  .footer__logo-icon--desktop {
    display: block;
  }
  .form .page-footer__logo--mobile {
    display: none;
    margin-bottom: 35px;
  }
  .form .page-footer__logo--desktop {
    display: block;
  }
  .social__list {
    margin-right: 0;
  }
  .page-footer__copyright {
    font-size: 18px;
  }
}
.page-form__title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
  margin: 0 auto;
  width: 230px;
  text-align: center;
  padding-top: 92px;
}
@media (min-width: 660px) {
  .page-form__title {
    padding-top: 150px;
    width: 500px;
    font-size: 50px;
    line-height: 60px;
  }
  .page-form {
    padding-bottom: 110px;
  }
}
@media (min-width: 1200px) {
  .page-form__title {
    width: 750px;
    padding-top: 180px;
  }
  .page-form {
    padding-bottom: 95px;
  }
}
.page-header__logo-link {
  min-height: 65px;
}
.page-header--closed {
  background: rgba(0, 0, 0, 0.3);
}
.page-header--opened .page-header__wrapper,
.page-header--no-js .page-header__wrapper {
  background-color: #283645;
}
.main-nav--no-js .main-nav__toggle {
  display: none;
}
.page-header__top {
  position: absolute;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 15;
}
.page-header__logo {
  outline: none;
  position: absolute;
  top: 20px;
  left: 20px;
}
.page-header__logo-icon {
  display: block;
  fill: #ffffff;
}
.page-header__logo-icon:hover {
  fill: #d22856;
}
.page-header__logo-icon:active {
  fill: #ffffff;
  opacity: 0.3;
}
.page-header__logo-icon--tablet,
.page-header__logo-icon--desktop {
  display: none;
}
.page-header___form,
.page-header___photo {
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-position: center top;
  background-color: #1d2631;
  min-height: 238px;
}
.page-header__wrapper--opened .page-header__top {
  background-color: #283645;
}
@media (min-width: 660px) {
  .page-header__logo-link {
    min-height: 110px;
  }
  .page-header__logo {
    top: 25px;
  }
  .page-header__logo-icon--mobile {
    display: none;
  }
  .page-header__logo-icon--tablet {
    display: block;
  }
  .page-header___form,
  .page-header___photo {
    background-image: url("../img/bg-back-tablet@1x.jpg");
    background-position: center top;
    background-color: #1d2631;
    min-height: 440px;
  }
}
@media (min-width: 1200px) {
  .page-header__wrapper {
    width: 960px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .page-header--opened .page-header__wrapper,
  .page-header--no-js .page-header__wrapper {
    background-color: transparent;
  }
  .page-header__top {
    padding-top: 45px;
    padding-bottom: 47px;
  }
  .page-header__logo-link {
    min-height: auto;
  }
  .page-header__logo-icon--tablet {
    display: none;
  }
  .page-header__logo-icon--desktop {
    display: block;
  }
  .page-header__logo {
    left: 130px;
  }
  .page-header__toggle {
    display: none;
  }
  .page-header___form,
  .page-header___photo {
    background-image: url("../img/bg-back-desktop@1x.jpg");
    background-position: top;
    background-size: auto;
    background-color: #1d2631;
    min-height: 395px;
  }
}
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 320px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ffffff;
  -webkit-box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
          box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);
  z-index: 10;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.popup__title {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  margin-bottom: 26px;
  color: #000000;
}
.popup__description {
  color: #283645;
}
.popup__body {
  padding: 40px 20px 0;
}
.popup__wrapper {
  padding: 38px 20px 50px;
}
.popup__wrapper--success {
  background-color: #f2f2f2;
}
.popup__button {
  width: 100%;
}
@media (min-width: 660px) {
  .popup {
    width: 460px;
    border-radius: 5px;
  }
  .popup__body--success {
    padding: 45px 70px 35px;
  }
  .popup__title {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 35px;
  }
  .popup__description {
    font-size: 18px;
  }
  .popup__wrapper--success {
    padding-left: 80px;
    padding-right: 80px;
  }
  .popup__body--error {
    padding: 40px 80px 0;
  }
}
@media (min-width: 1200px) {
  .popup {
    width: 760px;
  }
  .popup__body--error {
    padding: 45px 200px 55px;
  }
  .popup__wrapper--error {
    background-color: #f2f2f2;
    padding-left: 240px;
    padding-right: 240px;
  }
  .popup__body--success {
    padding: 40px 180px 40px;
  }
  .popup__wrapper--success {
    padding-left: 159px;
    padding-right: 159px;
  }
}
.reseach--info {
  display: none;
}
@media (min-width: 660px) {
  .reseach--info {
    display: block;
    padding-top: 57px;
  }
  .research__wrap {
    display: block;
    background: url("../img/icon-timer.svg") no-repeat;
    content: "";
    background-size: 237px 276px;
    padding: 38px 0 125px 0;
    position: relative;
  }
  .research__wrap::after {
    position: absolute;
    content: "24";
    color: #d22856;
    font-size: 96px;
    font-weight: 700;
    top: 140px;
    left: 62px;
  }
  .reseach__item {
    padding-left: 49%;
  }
  .research__title {
    font-size: 30px;
    line-height: 36px;
    width: 170px;
    margin: 0;
    margin-bottom: 10px;
  }
  .research__information {
    margin: 0;
  }
  .research__more {
    color: #d22856;
    margin-top: 12px;
    display: block;
  }
}
@media (min-width: 1200px) {
  .research {
    background: #f2f2f2;
  }
  .reseach--info {
    display: block;
    padding-top: 0;
  }
  .research__wrap {
    background-size: 298px 345px;
    padding: 92px 10px 112px 10px;
    background-position: 4% 5%;
  }
  .reseach__item {
    padding-left: 385px;
  }
  .research__title {
    margin: 0;
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 30px;
    width: 300px;
  }
  .research__information {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 30px;
    width: 525px;
    margin-bottom: 32px;
  }
  .research__more {
    font-size: 18px;
    line-height: 30px;
  }
  .research__wrap::after {
    font-size: 120px;
    top: 175px;
    left: 105px;
  }
}
.reviews-wrapper {
  width: 100%;
  position: relative;
}
.reviews {
  background-color: #ffffff;
  padding-top: 42px;
  padding-bottom: 61px;
}
.reviews__quotes {
  display: none;
}
.reviews__author-name {
  display: block;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 17px;
}
.reviews__author-prof {
  display: none;
}
.reviews__text {
  font-size: 14px;
  line-height: 30px;
  color: #283645;
  margin: 0;
  text-align: center;
  margin-bottom: 24px;
}
.reviews__controls,
.subscription__toggle {
  text-align: center;
  margin: 0;
}
.reviews__controls .reviews__button,
.subscription__toggle .slider__toggles {
  display: inline-block;
  width: 6px;
  height: 6px;
  padding: 0;
  vertical-align: middle;
  border-radius: 50%;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin-right: 9px;
  background: #283645;
  opacity: 0.3;
  border: none;
  outline: none;
}
.reviews__controls .reviews__button:hover,
.subscription__toggle .slider__toggles:hover {
  opacity: 0.6;
}
.reviews__controls .reviews__button:active,
.subscription__toggle .slider__toggles:active {
  opacity: 0.1;
}
.reviews__button.active,
.slider__toggles.active {
  background-color: #ffffff;
  border: 3px solid #000000;
  opacity: 1;
  margin-right: 15px;
}
.reviews__toggles.buttons {
  display: none;
}
@media (min-width: 660px) {
  .reviews {
    padding-top: 0;
    padding-bottom: 70px;
  }
  .reviews__wrapper-slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .reviews__author-name {
    font-size: 20px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 0;
  }
  .reviews__text {
    font-size: 18px;
    padding-bottom: 10px;
  }
  .reviews__author-prof {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    font-size: 14px;
    line-height: 30px;
    display: block;
  }
  .reviews__controls {
    padding-top: 27px;
  }
}
@media (min-width: 1200px) {
  .reviews {
    padding: 60px 10px 90px 35px;
  }
  .reviews__quotes {
    padding: 12px 0 45px;
    display: block;
  }
  .reviews__author-name {
    font-size: 24px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin: 0;
    margin-top: 35px;
  }
  .reviews__author-prof {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin: 0;
    padding: 0;
    font-size: 18px;
  }
  .reviews__text {
    padding: 0;
    font-size: 18px;
    line-height: 30px;
    width: 700px;
    margin: 0 auto;
  }
  .reviews__controls {
    display: none;
  }
  .reviews__toggles.buttons {
    position: relative;
    display: block;
    opacity: 0.3;
    border: none;
  }
  .reviews__toggles.buttons:hover {
    fiil: #868e97;
    opacity: 0.6;
  }
  .reviews__toggles.buttons:active {
    opacity: 0.1;
  }
  .reviews__toggles {
    position: absolute;
    bottom: 80px;
    width: 22px;
    height: 41px;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    border: 0;
  }
  .reviews__toggles.next {
    left: 920px;
  }
}
.subscription__wrapper {
  background-color: #f2f2f2;
  padding: 63px 0 42px;
}
.subscription__table {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  min-width: 840px;
  background-color: #ffffff;
  border: 2px solid #f2f2f2;
  border-collapse: collapse;
  margin-bottom: 34px;
}
.subscription__item--empty {
  display: none;
}
.subscription__item--blue {
  background-color: #283645;
  border: none;
  padding: 20px;
  text-align: center;
}
.subscription__item,
.subscription__description {
  border: 2px solid #e5e5e5;
}
.subscription__description {
  position: relative;
  padding: 15px 68px 13px 22px;
  text-transform: uppercase;
}
.cell-active {
  position: relative;
  overflow: hidden;
}
.subscription__description:nth-child(3) {
  display: none;
}
.subscription__item .subscription__flag {
  position: absolute;
  top: -10px;
  left: -23px;
  width: 90px;
  height: 35px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  background-color: #d22856;
  content: "хит";
  text-transform: uppercase;
  font-size: 14px;
  line-height: 30px;
  color: #ffffff;
  text-align: center;
}
.subscription__name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  display: block;
}
.subscription__cost {
  font-size: 24px;
  line-height: 30px;
  font-weight: 300;
  color: #ffffff;
  text-transform: uppercase;
}
.subscription__description:first-child,
.subscription__type {
  color: #283645;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
}
.subscription__mark {
  right: 6%;
  position: absolute;
  bottom: 30px;
}
.subscription__mark--yes {
  background-color: transparent;
  border-bottom: 3px solid #3dc644;
  border-left: 3px solid #3dc644;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  color: #3dc644;
  width: 30px;
  height: 16px;
}
.subscription__mark--no::before,
.subscription__mark--no::after {
  content: "";
  position: absolute;
  left: -35px;
  width: 35px;
  height: 3px;
  background-color: #f25b26;
}
.subscription__mark--no::before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.subscription__mark--no::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.subscription__toggles {
  margin: 0;
  text-align: center;
}
.slider__toggles {
  display: none;
}
@media (min-width: 660px) {
  .subscription__wrapper {
    padding: 35px 0 25px;
  }
  .subscription__item {
    padding: 11px 0 8px;
    width: 25%;
  }
  .subscription__description {
    padding: 7px 14px 4px;
  }
  .subscription__table {
    min-width: 620px;
    margin-bottom: 45px;
  }
  .subscription__type {
    font-size: 0;
  }
  .subscription__item--empty {
    background: #f2f2f2;
    border: transparent;
    display: table-cell;
  }
  .subscription__name {
    font-size: 16px;
  }
  .subscription__cost {
    font-size: 18px;
  }
  .subscription__mark .subscription__icon:first-child {
    display: none;
  }
  .subscription__description:first-child {
    text-transform: capitalize;
  }
  .subscription__description:nth-child(3) {
    display: table-cell;
  }
  .subscription__mark {
    left: 40%;
    bottom: 20px;
  }
  .subscription__mark--no::before,
  .subscription__mark--no::after {
    left: -5px;
  }
  .subscription__mark:nth-child(3) {
    display: table-cell;
  }
  .subscription__toggle {
    display: none;
  }
}
@media (min-width: 1200px) {
  .subscription__wrapper {
    padding-bottom: 50px;
    padding-top: 57px;
  }
  .subscription.container {
    padding-left: 20px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding-right: 0;
  }
  .subscription__table {
    width: 100%;
  }
  .subscription__item--blue {
    padding: 17px 20px 20px;
  }
  .subscription__description {
    padding: 13px 20px 11px;
    text-transform: capitalize;
    font-size: 18px;
  }
  .subscription__description:first-child {
    font-size: 18px;
  }
  .subscription__name {
    font-size: 18px;
  }
  .subscription__cost {
    font-size: 24px;
  }
  .subscription__mark {
    bottom: 28px;
    left: 44%;
  }
}
.upload__slogan {
  padding: 22px 14px 42px 10px;
  text-align: center;
}
.upload__title {
  font-size: 14px;
  line-height: 30px;
  margin: 0;
}
.upload__img {
  background-color: #f2f2f2;
  text-align: center;
}
.upload__pic {
  padding-top: 20px;
  padding-bottom: 50px;
  display: block;
}
.upload__pic img {
  width: 280px;
  height: 374px;
}
.upload__actions {
  padding: 0;
}
.upload__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.upload__crop,
.upload__fill,
.upload__contrast {
  border: none;
  background: transparent;
  outline: none;
  fill: #d22856;
  margin-left: 20px;
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  font-size: 0;
  line-height: 0;
  width: 48px;
  height: 48px;
}
.upload__crop:hover,
.upload__fill:hover,
.upload__contrast:hover {
  fill: #8d949b;
}
.upload__crop--active svg {
  fill: #d22856;
}
.upload__range-controls--crop,
.upload__range-controls--fill {
  display: none;
}
.upload__bar {
  height: 2px;
  background-color: #000000;
  margin: 0 19px;
}
.upload__actions .button {
  border: none;
  background: transparent;
}
.upload__range-controls {
  padding-top: 40px;
  padding-bottom: 34px;
  position: relative;
}
.upload__range-controls::before {
  content: "";
  position: absolute;
  width: 320px;
  height: 1px;
  background-color: #dddfe0;
  bottom: -1px;
  left: -23px;
}
.upload__toggle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #f2f2f2;
  border: 3px solid #d22856;
  position: absolute;
  top: 33px;
  left: 220px;
}
.upload__toggle:active {
  background: #d22856;
}
.upload__buttons-wrapper {
  padding-bottom: 40px;
}
@media (min-width: 660px) {
  .upload__slogan {
    padding-top: 55px;
    padding-bottom: 75px;
  }
  .upload__title {
    font-size: 18px;
  }
  .upload__img.wrapper {
    padding: 55px 0;
    background-color: #f2f2f2;
  }
  .upload__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .upload__pic {
    padding: 0;
  }
  .upload__pic img {
    width: 300px;
    height: 400px;
  }
  .upload__range-wrapper {
    padding-top: 20px;
  }
  .upload__range-controls {
    width: 205px;
    position: relative;
  }
  .upload__range-controls::before {
    width: 275px;
    bottom: -1px;
    left: -40px;
  }
  .upload__range-controls--crop {
    padding-top: 0;
  }
  .upload__range-controls--crop,
  .upload__range-controls--fill {
    display: block;
  }
  .upload__bar {
    margin: 0;
  }
  .upload__range-controls--crop .upload__toggle {
    top: -7px;
    left: 130px;
  }
  .upload__range-controls--fill .upload__toggle {
    top: 33px;
    left: 30px;
  }
  .upload__range-controls--contrast .upload__toggle {
    top: 33px;
    left: 100px;
  }
  .upload__buttons {
    width: 260px;
  }
  .upload__photo {
    padding: 0;
    width: 300px;
    height: 400px;
  }
  .upload__actions {
    padding-right: 12px;
    padding-left: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: 300px;
        flex-basis: 300px;
  }
  .upload__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .upload__crop,
  .upload__fill,
  .upload__contrast {
    margin-left: 0;
    width: auto;
    margin-bottom: 27px;
  }
  .crop {
    width: 22px;
    height: 22px;
  }
  .fill {
    width: 24px;
    height: 22px;
  }
  .contrast {
    width: 16px;
    height: 16px;
  }
  .upload__buttons-wrapper {
    margin-top: 9px;
    padding-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .upload__slogan {
    padding-top: 0;
  }
  .upload__img.wrapper {
    padding: 0;
    background-color: #ffffff;
  }
  .upload__img.container {
    padding: 57px 60px 57px 80px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .upload__list {
    padding-right: 44px;
  }
  .upload__actions {
    padding-left: 90px;
    padding-right: 0;
    -ms-flex-preferred-size: 410px;
        flex-basis: 410px;
  }
  .upload__crop,
  .upload__fill,
  .upload__contrast {
    margin-bottom: 27px;
  }
  .upload__crop:hover,
  .upload__fill:hover,
  .upload__contrast:hover {
    fill: #8d949b;
  }
  .crop {
    width: 44px;
    height: 44px;
  }
  .fill {
    width: 48px;
    height: 43px;
  }
  .contrast {
    width: 32px;
    height: 32px;
  }
  .upload__range-controls {
    width: 288px;
  }
  .upload__range-controls::before {
    width: 410px;
    left: -95px;
  }
  .upload__buttons-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    width: 410px;
    margin-top: 89px;
  }
  .upload__buttons {
    width: 180px;
    margin-bottom: 0;
  }
}
